#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  margin: 2px;
}
.table-heading{
  margin-top: 10px;
  text-align: center;
}
.itemlist{
  margin-top: 5px;
}

